name: Run pipeline
on:
  workflow_dispatch:
  repository_dispatch:
    types: [run_pipeline]

jobs:
  update-file:
    runs-on: ubuntu-20.04
    steps:
      - name: checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          ref: master
      - name: Install Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.9
      - name: Install dependencies
        run: |
          sudo apt-get install subversion -y
          python -m pip install --upgrade pip
          pip install poetry
          poetry config virtualenvs.create false
          poetry install --no-dev
      - name: Update file
        run: |
          bash run_analysis.sh
      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: updated to last revision
          file_pattern: "*.tsv"
