name: Run pipeline
on:
  workflow_dispatch:
  repository_dispatch:
    types: [run_pipeline]
  schedule:
    - cron: '17 3 * * 0,3'

jobs:
  update-file:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          ref: master
      - name: Install Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.10
      - name: Install python dependencies
        run: |
          sudo apt-get update
          sudo apt-get install subversion -y
          python -m pip install --upgrade pip
          pip install poetry
          poetry config virtualenvs.create false
          poetry install --without dev
      - name: Install and set up transvar
        run: |
          . transvar_env_vars.sh
          sudo apt install -y samtools tabix
          bash set_up_transvar.sh
      - name: Update file
        run: |
          . transvar_env_vars.sh
          bash run_analysis.sh
      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: updated to last revision
          file_pattern: "*.tsv *.json *.contig *genome.pickle"
