name: Run tests
on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-24.04
    steps:
      - name: checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Install Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.10
      - name: Install python dependencies
        run: |
          sudo apt-get update
          sudo apt-get install subversion -y
          python -m pip install --upgrade pip
          pip install poetry
          poetry config virtualenvs.create false
          poetry install --without dev
      - name: Install and set up transvar
        run: |
          . transvar_env_vars.sh
          sudo apt install -y samtools tabix
          bash set_up_transvar.sh
      - name: Run tests
        # -W because of transvar
        run: |
          . transvar_env_vars.sh
          python -W ignore:ResourceWarning -m unittest -v
